<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="D:\Spring\Spring_Angular\Angular\BankFrontend\src\app\account-list\account-list.component.ts"/>
</head>
<body>

    <div class="container">
        <table class="table table-dark">
            <thead>
              <tr>
                <th>Id</th>
                <th>Account Holder</th>
                <th>Balance</th>
                <th colspan="3" style="text-align: center;">
                   Operation
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let account of accounts">
                <td>{{account.id}}</td>
                <td>{{account.accountHolder}}</td>
                <td>{{account.balance}}</td>
                <div style="text-align: center;">
                <td (click)="deposit(account.id)" class="btn btn-info" style="margin: 5px;">Deposit</td>
                <td (click)="withdraw(account.id)" class="btn btn-info" style="margin: 5px;">Withdraw</td>
                <td (click)="del(account.id)" class="btn btn-danger"style="margin: 5px;">Delete
                  <div *ngIf="deleted" class="alert alert-success">
                    Account deleted Successfully....<br/>
                    Redirecting...
                </div>
                </td>
              
              </div>
                
                
              </tr>
            </tbody>
          </table>
    </div>
    
</body>
</html>

